main {
    cursor: url(/images/BolaCursorSetaR.png), auto;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    position: absolute;
}

header {
    cursor: url(/images/BolaCursorSetaR.png), auto;
    display: flex;
    min-width: 80vw;
    min-height: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    padding: 8px;
    margin: 10px 0 10px;
    border-radius: 10px;
    border: 2.5px solid rgb(255, 255, 255, 0.8);
    font-size: 1em;
}

.noBug {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5em;
    cursor: url(/images/BolaCursorSetaC.png), auto;
}

.loading {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: url(/images/BolaCursorSetaC.png), auto;
    transition:  all 400ms ease;
    text-align: center;
}

.divC {
    margin-top: 15%;
    font-size: 2em;
}

#timerB {
    font-size: 4em;
    margin-top: 5%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}

.player {
    margin-left: -5px;
    background-color: rgb(219, 129, 45);
    color: white;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: -2px;
}

.timer {
    margin-right: 35px;
    background-color: rgb(219, 129, 45);
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.jogadorImg {
    max-width: 0px;
    max-height: 40px;
}

.tempoImg {
    max-width: 40px;
    max-height: 40px;
}

.logoImg {
    max-width: 200px;
    max-height: 200px;
    margin-left: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    min-width: 80vw;
    min-height: 20vh;
    max-width: 80vw;
    max-height: 20vh;
    margin: 0px auto;
}

@media only screen and (min-width: 1920px) {
    .grid {
        gap: 15px;
        min-width: 85vw;
        max-width: 85vw;
    }
    header {
        min-width: 85vw;
        margin: 20px 0 20px;
        font-size: 1.3em;
    }

    .player {
        background-color: rgb(219, 129, 45);
        color: white;
        padding: 10px;
        border-radius: 10px;
        letter-spacing: -2px;
    }
    
    .timer {

        background-color: rgb(219, 129, 45);
        color: white;
        padding: 10px;
        border-radius: 10px;
        letter-spacing: -2px;
    }
    
    .jogadorImg {
        max-width: 40px;
        max-height: 40px;
    }
    
    .tempoImg {
        max-width: 40px;
        max-height: 40px;
    }
    
    .logoImg {
        max-width: 300px;
        max-height: 300px;
        margin-left: 15px;
    }

    .reset_button  {   
        padding: 15px;
        max-width: 210px;
        margin-right: 15px;
    }
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 15px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background: rgba(255, 255, 255, 0.8);
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2.5px solid rgb(255, 255, 255);
    border-radius: 15px;
    transition:  all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../images/back.png');
    backface-visibility: hidden;
}

.card:hover {
    cursor: url(/images/BolaCursorSetaA.png), auto;
    border: 3px solid rgb(219, 129, 45);
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

.disabled-card:hover {
    cursor: url(/images/BolaCursorSetaC.png), auto;
    border: 3px solid rgba(27, 25, 32, 0.8);
}

.gridLogo {
    cursor: url(/images/BolaCursorSetaR.png), auto;
    background-image: url('../images/Logo.png');
    width: 500px;
    height: 90px;
    background-size: 500px;
    background-repeat: no-repeat;
    position: absolute;
    top: 830px;
}

.gridCabeçalho {
    display: grid;
    grid-template: "l r";
    cursor: url(/images/BolaCursorSetaR.png), auto;
    background-image: url('../images/Cabeçalho Logo.png');
    width: 300px;
    height: 100px;
    gap: 15px;
    background-size: 300px;
    background-repeat: no-repeat;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
     
}

.reset_button {
    
    cursor: url(/images/BolaCursorSetaA.png), auto;
    background-color: rgba(214, 16, 16, 0.8);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    max-width: 180px;
    width: 50%;
    margin-right: 5px;
}

.reset_button:hover {

    background-color: rgba(198, 76, 76, 0.8);
    border: 3px solid rgba(218, 212, 30, 0.8);
}

.login-form {

    cursor: url(/images/BolaCursorSetaR.png), auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}