main {

    cursor: url(/images/BolaCursorSetaR.png), auto;

}

.login-form {
    cursor: url(/images/BolaCursorSetaR.png), auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
    background-image: url('../images/football-player-win.jpg');
    background-size: 100vh;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}

.login_header{

    cursor: url(/images/BolaCursorSetaR.png), auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    
}

.login_header img {

    cursor: url(/images/BolaCursorSetaR.png), auto;
    width: 100px;
}

.login_header h1 {

    cursor: url(/images/BolaCursorSetaR.png), auto;
    color:rgb(255, 255, 255);
    font-size: 1.5em;
}

.login_input {

    cursor: url(/images/BolaCursorSetaA.png), auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login_button {

    cursor: url(/images/BolaCursorSetaA.png), auto;
    background-color: rgba(255, 166, 22, 0.8);
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
}

.login_button:hover {
    
    background-color: rgba(229, 172, 80, 0.8);

}

.login_button:disabled {
    cursor: url(/images/BolaCursorSetaR.png), auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(118, 109, 109);
}

.gridCabeçalhoLogin {

    cursor: url(/images/BolaCursorSetaR.png), auto; 
    background-image: url('../images/TrofeuSouParte.png');
    width: 200px;
    height: 200px;
    justify-content: center;
    background-size: cover;
    background-size: 200px;
    margin-top: -30px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;

}